Zadanie 1

In [6]:
class animal:
  def __init__(self, gender="Female", genus=None):
    self.isAlive = True
    self.gender = gender
    self.genus = genus
  

  def breed(self, partner):
    try:
      if self.gender == "Female" and partner.gender == "Male" and self.genus == partner.genus:
        return animal(genus=self.genus)
      else:
        raise AttributeError
    except AttributeError:
      print("attribute not found")

class dog(animal):
  def __init__(self, gender="Female"):
    super().__init__(gender)
    self.genus = "Canis"

  def breed(self, partner):
    result = super().breed(partner)
    if result:
      return dog()

  def woof(self):
    return "woof woof"


class cat(animal):
  def __init__(self, gender="Female"):
    super().__init__(gender)
    self.genus = "Felis"

  def breed(self, partner):
    result = super().breed(partner)
    if result:
      return cat()

  def purr(self):
    return "purr"

In [9]:
female_cat = cat()
male_cat = cat(gender="Male")
new_cat = female_cat.breed(male_cat)
new_cat.purr()

'purr'

In [10]:
female_dog = dog()
male_dog = dog(gender="Male")
new_dog = female_dog.breed(male_dog)
new_dog.woof()

'woof woof'

In [11]:
female_dog.breed(male_cat)

attribute not found

In [12]:
male_dog.breed(male_dog)

attribute not found

**Zadanie 2**

In [13]:
class worker():
  def __init__(self, name, age, salary):
    self.name = name
    self.age = age
    self.salary = salary

def avg_salary(workers):
  sum = 0
  try:
    for worker in workers:
      sum += worker.salary
    return sum/len(workers)
  except ZeroDivisionError:
    return 0

def compare_avg_salary(workers):
  under_30 = [worker for worker in workers if worker.age < 30]
  above_30 = [worker for worker in workers if worker.age > 30]
  print(f"Average salary for workers aged below 30: {avg_salary(under_30)}")
  print(f"Average salary for workers aged above 30: {avg_salary(above_30)}")

In [14]:
workers = []
workers.append(worker("Adam", 39, 1500))
workers.append(worker("Anna", 41, 1700))
workers.append(worker("Błażej", 32, 1800))
workers.append(worker("Beata", 30, 1600))
workers.append(worker("Czesław", 42, 2000))
workers.append(worker("Cecylia", 39, 2100))
workers.append(worker("Daniel", 46, 1900))

print(avg_salary(workers))
compare_avg_salary(workers)

1800.0
Average salary for workers aged below 30: 0
Average salary for workers aged above 30: 1833.3333333333333